x64
Release
Debug
DllLoader/bin
DllLoader/obj
SWBF2Admin/bin
SWBF2Admin/obj
IngameControllerServer/bin
IngameControllerServer/obj
RconServer/out
rconserver-aspyr/out
rconserver-galaxy/out
packages
.vs
.tmp
.idea
*.user
cmake-build-debug
cmake-build-release
