x64
Release
Debug
DllLoader/bin
DllLoader/obj
SWBF2Admin/bin
SWBF2Admin/obj
IngameControllerServer/bin
IngameControllerServer/obj
RconServer/Debug
RconServer/Release
RconServer/x64
RconServer/x86
packages
.vs
.tmp
.idea
*.user