root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h}]
indent_style = tab
indent_size = 4
tab_width = 4
max_line_length = 120

[{CMakeLists.txt,*.ps1}]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 2
